# Ignore Git
.git
.gitignore

# Node modules and build output
**/node_modules
**/dist
**/build

# Dotfiles
.env
Dockerfile
docker-compose.yml
README.md
*.md

# IDE and system files
.vscode
.idea
.DS_Store
Thumbs.db

# Logs
*.log
